# Database (Postgres)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/invoIQ?schema=public
# Puerto de la app
PORT=3000
# Entorno
NODE_ENV=development

JWT_SECRET=supersecretkey123
JWT_EXPIRES_IN=15m